html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

.container-left {
  margin: 8px 8px 8px 8px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: flex-start
}

.game {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.board {
  flex: 0 1;
  align-self: flex-start;
}

svg.board-svg {
  flex: 0 0 auto;
  width: 50vw;
  height: 50vw;
  max-width: 440px;
  max-height: 440px;
}

svg.well-svg, svg.float-svg {
  width: 20vw;
  height: 20vw;
  max-width: 176px;
  max-height: 176px;
}

svg.float-svg {
  /* transform matches .container-left margin */
  padding-left: 8px;
  padding-top: 8px;
}

svg rect.square {
  rx: 5px;
  ry: 5px;
  stroke-width: 2px;
}

svg rect.empty {
  fill: rgb(238, 238, 236);
  stroke: rgb(186, 189, 182);
}

svg.float-svg rect.empty {
  display: none;
}

svg rect.blocked {
  fill: rgb(164, 0, 0);
  stroke: color: rgb(204, 0, 0);
}

svg rect.piece-o {
fill: rgb(252, 233, 79);
stroke: rgb(196, 160, 0);
}
svg rect.piece-i {
fill: rgb(138, 226, 52);
stroke: rgb(78, 154, 6);
}
svg rect.piece-l {
fill: rgb(252, 175, 62);
stroke: rgb(206, 92, 0);
}

svg rect.piece-j {
fill: rgb(114, 159, 207);
stroke: rgb(32, 74, 135);
}

svg rect.piece-t {
fill: rgb(173, 127, 168);
stroke: rgb(92, 53, 102);
}

svg rect.piece-s {
fill: rgb(233, 185, 110);
stroke: rgb(143, 89, 2);
}

svg rect.piece-z {
fill: rgb(239, 41, 41);
stroke: rgb(164, 0, 0);
}

.right {
  flex: 0 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.5em;
  max-width: 22vw;
}

.right-info {
  display: flex;
  flex-direction: column;
}

.title {
  align-self: center;
  text-align: center;
}

.title h1 {
  margin-bottom: 1rem;
}

.clock, .score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.score-label, .clock-label {
  flex: 1;
}

.clock-timer, .score-value {
  flex: 0 1;
}

.well {
  flex: 1 1;
  align-self: center;
  padding: 0.5em;
}

.game-state {
  flex: 0 1;
/*
  display: flex;
  justify-content: center;
*/
  text-align: center;
}

.floating-piece {
  pointer-events: none;
  opacity: 0.6;
}

.floating-piece > svg {
  pointer-events: none;
}

.help-buttons {
  display: flex;
  flex: 0 0 auto;
}

.help-buttons .button, .help-buttons .button-primary {
  display: flex;
  flex: 0 0 auto;
}

.help-buttons .github {
  margin-right: 0.5em;
}

.instructions {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 40px;
  top: 20px;
  max-width: 420px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
  border-radius: 8px;
  padding: 1em;
}

.instructions p {
  margin-bottom: 0.5em;
}

.instructions-keys {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.instructions-keys .instruction-key, .instructions-keys:hover .instruction-symbol {
  display: inline-block;
  text-align: center;
}

.instructions-keys:hover .instruction-key, .instructions-keys .instruction-symbol {
  display: none;
}

.instructions-keys .row {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.instruction-key, .instruction-symbol {
  border: 1px solid #444;
  border-radius: 4px;
  padding: 8px;
  width: 2em;
  margin-right: 0.5em;
  background: whitesmoke;
}

.instructions-buttons {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}

@media all and (max-width: 639px) {
  .game {
    flex-direction: column;
    align-items: stretch;
  }

  /* would like to rearrange order but problems with coordinates
  .board { order: 2; }
  .right { order: 1; }
  */

  .right {
    flex-direction: row;
    justify-content: space-between;
  }

  .help-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .help-buttons .button, .help-buttons .button-primary {
    padding: 0 15px;
    width: 100%
  }

  svg.board-svg {
    width: 90vw;
    height: 90vw;
  }

  svg.well-svg, svg.float-svg {
    width: 36vw;
    height: 36vw;
  }

  .instructions {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
  }
}
